@model IEnumerable<WebApp.Models.ListTicketsDto>

@{
    ViewBag.Title = "My Tickets";
}


<div class="card">
    <div class="card-header">
        <h2>My Tickets</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        <span class="badge badge-@item.StatusColor">@Html.DisplayFor(modelItem => item.Status)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.RouteLink("ViewTicket", "ViewTicket", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

