@model WebApp.Models.ManageTicketDashboardDto

@{
    ViewBag.Title = "ViewTicket";
}


@section styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/bootstrap-tagsinput.css")">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
}
<h2>Ticket #@Model.ID</h2>
<hr />
<div class="row grid-divider">
    <div class="col-3">
        @Html.Partial("~/Views/Dashboard/_ManageTicketForm.cshtml", Model.Form)
    </div>
    <div class="col-9">

        <h2>@Html.DisplayFor(m => m.Subject)</h2>
        <span>@Html.DisplayFor(m => m.CreatedAt)</span>
        <span>- @Html.DisplayFor(m => m.CreatedBy.UserName)</span>
        <hr />
        <div class="row">
            <div class="col">@Html.DisplayFor(m => m.Details)</div>
        </div>
        <div class=" bg-light p-2 mt-3">
            @if (Model.Replies.Count != 0)
            {
                <div id="Replies">
                    @Html.DisplayFor(model => model.Replies)
                </div>
            }
            @Html.Partial("~/Views/Dashboard/_NewReplyDto.cshtml", Model.NewReply)
        </div>

        @*<div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4"><span class="font-weight-bold">@Html.DisplayNameFor(m => m.Subject): </span>@Html.DisplayFor(m => m.Subject)</div>
                        <div class="col-4"><span class="font-weight-bold">@Html.DisplayNameFor(m => m.CreatedBy.UserName): </span>@Html.DisplayFor(m => m.CreatedBy.UserName)</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><span class="font-weight-bold">@Html.DisplayNameFor(m => m.CreatedAt): </span>@Html.DisplayFor(m => m.CreatedAt)</div>
                        <div class="col-4"><span class="font-weight-bold">@Html.DisplayNameFor(m => m.UpdatedAt): </span>@Html.DisplayFor(m => m.UpdatedAt)</div>
                        <div class="col"><span class="font-weight-bold">@Html.DisplayNameFor(m => m.Tags): </span>@Model.Tags</div>
                    </div>
                </div>
                <div class="card-body pb-5">
                    <div class="row">
                        <div class="col">@Html.DisplayFor(m => m.Details)</div>
                    </div>
                </div>
                <div class="card-footer comment-wrapper bg-light p-2">

                </div>
            </div>*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("/Scripts/bootstrap-tagsinput.js")"></script>
    <script>
        $(document).ready(function () {
            $(document).on('submit', '#ReplyTicketForm', function (e) {
              // stop default form submission
              e.preventDefault();

              $.ajax({
                url: $('#ReplyTicketForm').attr('action'),
                type: 'POST',
                data: $('#ReplyTicketForm').serialize(),
                  success: function (response) {
                      if (response.success) {
                          $('#Replies').append('<li class="media"><a href="#" class="pull-left pr-2"><img src="http://www.fillmurray.com/64/64" alt="" class="rounded-circle"></a><div class="media-body"><span class="text-muted pull-right"><small class="text-muted">'+response.reply.CreatedAt+'</small></span><strong class="text-success">@@'+response.reply.CreatedBy.UserName+'</strong><p>'+response.reply.Content+'</p></div></li><hr>');
                      } else {
                          $('#ReplyTicketForm .field-validation-valid').html(response.message);
                      }
                }
              });
            });
            $(document).on('submit', '#ManageForm', function(e) {
              // stop default form submission
              e.preventDefault();
                var x = $('#ManageForm').serialize();
              $.ajax({
                url: $('#ManageForm').attr('action'),
                type: 'POST',
                data: x,
                  success: function (response) {
                      if (response.success) {
                          alert("success");
                      } else {
                          alert("fail");
                      }
                }
              });
            });
        });
    </script>
}
