@model IEnumerable<WebApp.Models.ListTicketsDashboardDto>

@{
    ViewBag.Title = "Manage Tickets";
}
@section Styles{
    <style>
        .table-row {
            cursor: pointer;
        }
    </style>
}
<h2>Manage Tickets</h2>
<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a href="@Url.Action("ManageTickets", "Dashboard")" class="list-group-item list-group-item-action @(String.IsNullOrEmpty(Request.Params["filter"]) ?"active":"")">All Tickets</a>
            <a href="@Url.Action("ManageTickets", "Dashboard", new { filter = "unassigned" })" class="list-group-item list-group-item-action @(Request.Params["filter"]?.ToLower() == "unassigned" ?"active":"")">Unassigned Tickets</a>
            <a href="@Url.Action("ManageTickets", "Dashboard", new { filter = "unsolved" })" class="list-group-item list-group-item-action @(Request.Params["filter"]?.ToLower() == "unsolved" ?"active":"")">Unsolved Tickets</a>
            <a href="@Url.Action("ManageTickets", "Dashboard", new { filter = "pending" })" class="list-group-item list-group-item-action @(Request.Params["filter"]?.ToLower() == "pending" ?"active":"")">Pending Tickets</a>
            <a href="@Url.Action("ManageTickets", "Dashboard", new { filter = "solved" })" class="list-group-item list-group-item-action @(Request.Params["filter"]?.ToLower() == "solved" ?"active":"")">Solved Tickets</a>
            @if (User.IsInRole("Admin") || User.IsInRole("Assignor"))
            {
                <a href="@Url.Action("ManageTickets", "Dashboard", new { filter = "mytickets" })" class="list-group-item list-group-item-action @(Request.Params["filter"]?.ToLower() == "mytickets" && string.IsNullOrEmpty(Request.Params["filter2"]) ? "active" : "")">My Tickets</a>
                <a href="@Url.Action("ManageTickets", "Dashboard", new { filter = "mytickets", filter2 = "unsolved" })" class="list-group-item list-group-item-action @(Request.Params["filter"]?.ToLower() == "mytickets" && Request.Params["filter2"]?.ToLower() == "unsolved" ? "active" : "")">- Unsolved</a>
            }
        </div>
    </div>
    <div class="col">
        <table class="table table-bordered table-hover">
            <tr class="thead-light">
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priotity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignee)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-row" data-href="@Url.Action("ManageTicket","Dashboard", new { id = item.ID })">
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <span class="badge badge-@item.StatusColor">@Html.DisplayFor(modelItem => item.Status)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priotity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assignee)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function ($) {
            $(".table-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}